<nav class="main-nav">
    <ul>
        <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
        <li><a href="{{ '/pages/atlas' | relative_url }}" {% if page.url == '/pages/atlas/' %}class="active"{% endif %}>Reference Atlas</a></li>
        <li><a href="{{ '/pages/datasets' | relative_url }}" {% if page.url == '/pages/datasets/' %}class="active"{% endif %}>Data Sets</a></li>
        <li><a href="{{ '/pages/registration' | relative_url }}" {% if page.url == '/pages/registration/' %}class="active"{% endif %}>Registration</a></li>
    </ul>
</nav>